<ul class='nav nav pull-left'>        
  <li class='btn-group'>
    <button class='btn btn-info'> by carlessAngeleno:</button>
    <button class='btn btn-info dropdown-toggle' data-toggle='dropdown'>
      <span class='caret'></span>
    </button>
    <ul class='dropdown-menu' id='menu_occupation'>  
      <li class="nav-header">Website</li>
      <li role='presentation'><a href='http://apps.carlessangeleno.com/yogurtjam' role='menuitem' tabindex='-1' target='_blank'>yogurtJam</a></li>
      <li class="nav-header">Data Analysis</li>
      <li role='presentation'><a href='http://www.yogurtjam.com/sociagora' role='menuitem' tabindex='-1' target='_blank'>sociagora</a></li>
      <li role='presentation'><a href='http://www.tinyurl.com/kivaflava2' role='menuitem' tabindex='-1' target='_blank'>kivaFlava</a></li>
      <li class="nav-header">Everyday Tools</li>
      <li role='presentation'><a href='http://apps.carlessangeleno.com/isthisarepost' role='menuitem' tabindex='-1' target='_blank'>Is This A Repost</a></li>              
      <li class="nav-header">Data Collection</li>
      <li role='presentation'><a href='http://www.yogurtjam.com/twitPit/html/justice4charles.php' role='menuitem' tabindex='-1' target='_blank'>twitPit</a></li>
      <li class="divider"></li>
      <li role='presentation'><a href='http://github.com/carlessAngeleno' role='menuitem' tabindex='-1' target='_blank'><b>GitHub Profile</b></a></li>                    
      <li role='presentation'><a href='http://www.carlessangeleno.com' role='menuitem' tabindex='-1' target='_blank'><b>BLOG</b></a></li>                    
    </ul>        
  </li>
</ul>  