<ul class='nav'>        
  <li class='dropdown'>
    <a a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>carlessAngeleno</b> </a>
    <ul class='dropdown-menu'>  
      <li class="nav-header">Website</li>
      <li><a href='http://apps.carlessangeleno.com/yogurtjam' target='_blank'>yogurtJam</a></li>
      <li class="nav-header">Data Analysis</li>
      <li><a href='http://www.yogurtjam.com/sociagora' target='_blank'>sociagora</a></li>
      <li><a href='http://www.tinyurl.com/kivaflava2' target='_blank'>kivaFlava</a></li>
      <li class="nav-header">Everyday Tools</li>
      <li><a href='http://apps.carlessangeleno.com/isthisarepost' target='_blank'>Is This A Repost</a></li>              
      <li class="nav-header">Data Collection</li>
      <li><a href='http://www.yogurtjam.com/twitPit/html/justice4charles.php' target='_blank'>twitPit</a></li>
      <li class="divider"></li>
      <li><a href='http://github.com/carlessAngeleno' target='_blank'><b>GitHub Profile</b></a></li>                    
      <li><a href='http://www.carlessangeleno.com' target='_blank'><b>BLOG</b></a></li>                    
    </ul>        
  </li>
</ul>  