<!-- Modal -->
<div id="about_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">isthisarepost</h3>
  </div>
  <div class="modal-body">
    <h4>What is this?</h4>
    <p>
      isthisarepost (ITR) is an app that helps you internet better on <a href="http://www.imgur.com" target="_blank">imgur</a>.
    </p>
    <p>
      Got a baller gif? Latest RDJ pic? OMG BOTH EMMAS WITH A CAT CUDDLING WITH A BABY IN A PUPPY TSHIRT??
    </p>
    <p>Looks like we're finally hitting the front page</p> 
    <img src="sdfsf" style="height: 100px;">
    <p>
      But wait, what if this has already been posted? 
      MRW I get on the downvote train by accident      
    </p>
    <p>
      <img src="sdfsf"  style="height: 100px;">
    </p>
    <p>
      ITR to the rescue! Simply upload the file or paste the URL and ITR can tell you whether the same image has already been posted on imgur.
    </p>
    <p>
      Here's a cat.
    </p>
    <img src="sfdfd" style="height: 100px;">
    <h4>Why did you make this?</h4>
    <p>
      Honestly, because I wanted to be more baller on imgur. Also, I like make web apps.
    </p>
    <h4>tl;dr</h4>    
    <p>
      wow. such app. much image. so code. many kendrick. 
    </p>
    <a href="http://imgur.com/gallery/ZRCAHFE" target="_blank">    
      <img src="http://i.imgur.com/ZRCAHFE.jpg">
      (from: http://imgur.com/gallery/ZRCAHFE)
  </a>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
    <!-- <button class="btn btn-primary">Save changes</button> -->
  </div>
</div>