/* Override ca */

.ca_section {
  max-width: 590px;
}


/* app specific */

#image_form, #web_form {
  margin: 10px;
  padding: 20px;
}

#image_form, #web_form {
  margin-left: auto;
  margin-right: auto;
}

#link_input {
  max-width: 220px;
}